.main {
	padding: 0 50px;
  background-color: #EBEBEB;
  .cards {
    .cards-item {
      background-color: #fff;
      height: 200px;
      .tests {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}